@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbartop::-webkit-scrollbar-thumb {
        background-color: #f1f1f1;
        border-radius: 10px;
    }
}

table {
    @apply border-separate w-full;
}

thead {
    @apply h-10 bg-gray-200;
}

th:first-child {
    @apply rounded-tl-md;
}

th:last-child {
    @apply rounded-tr-md;
}

td {
    @apply py-2 text-center;
}

tbody {

    td {
        @apply border-b-2 border-gray-100;
    }

    tr:last-child td {
        @apply border-b-0;
    }

}

tfoot {

    @apply bg-gray-200;

    td:first-child {
        @apply rounded-bl-md;
    }

    td:last-child {
        @apply rounded-br-md;
    }

}